<div class="mahi_holder">
    <div class="container">

      <div class="row bg_3">
        <h2><i>Add Phone</i></h2>
        <div class="col-3 input-effect">
        	<input class="effect-16" type="text" placeholder="">
            <label>Category</label>
            <span class="focus-border"></span>
        </div>
        <div class="col-3 input-effect">
        	<input class="effect-17" type="text" placeholder="">
            <label>Price</label>
            <span class="focus-border"></span>
        </div> 
        <div class="col-3 input-effect">
        	<input class="effect-18" type="text" placeholder="">
            <label>Color</label>
            <span class="focus-border"></span>
        </div>
  
      </div>
      <button class="button button2">Add</button>
      <button class="button button3">Cancel</button>
    </div>
</div>